/*Raptor Legacy website stylesheet
Created 7.10.25 by Kaia Aydelotte
For WDD130 Project final. Anderson's website*/

body{
    background-color: #b8bfc5
}

.card{
    width: 900px;
    margin: auto;
    background-color: #2D333B;
    color: #E0E0E0;
}

header{
    color: #2D333B;
}

nav{
    background-color: #1F4A6F;
    color: #E0E0E0;
}

/*
main{
    background-color: #2D333B;
    color: #E0E0E0;
}
*/

section{
    background-color: #4A5560
}

footer{
    background-color: #1F4A6F;
    color: #E0E0E0;
}



/* The CSS for the history page */
#h-main {
    background-color: #2D333B;
}
.h-card {
    text-align: center;
    padding: 15px;
    width: 90%;
    margin: 25px auto;
}
.h-card img {
    height: 18em;
    float: left;
    padding-top: 20px;
    margin-right: 15px;
}