/*Raptor Legacy website stylesheet
Created 7.10.25 by Kaia Aydelotte
For WDD130 Project final. Anderson's website*/

body{
    background-color: skyblue;
}

#card{
    width: 400px;
    height: 600px;
}

header{
    color: #2D333B;
}

nav{
    background-color: #1F4A6F;
    color: #E0E0E0;
}

main{
    background-color: #2D333B;
    color: #E0E0E0;
}

section{
    background-color: #4A5560
}